/*font-family: 'Lobster Two', cursive;
font-family: 'Nova Script', cursive;
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell English SC', serif;*/

body{
	background-color: transparent;
}

.home { 
	background: url(../images/sunset-straight-road.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-default {
	background-color: transparent; 
	border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: transparent !important;

}

.nav li a{
	color: #c69641 !important;
	cursor: pointer;
}

.index{
	background-color: rgba(0, 0, 0, .5);
}

.landing{
	padding-top: 23%;
	padding-bottom: 12%;
	
}

.landing h1{
	text-align: center;
	color: #c69641;
	font-size: 60px;

	/*margin-left: 120px;*/
	font-family: 'Nova Script', cursive;
}

.landing h3{
	text-align: center;
	color: #c69641;
	font-size: 40px;
	/*margin-left: 100px;*/
	font-family: 'Lobster Two', cursive;
}

.landing span img{
	width: 230px;
	height: 65px;
	margin-left: 42%;
}


.about{
	height: 360px;
	background-color: #FCF3E6;
}


.features{
	height: 400px;
	background: url(../images/cars-traffic.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.find{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	padding-top: 22px;
	margin: 0 auto;
	background-color: #fff;
}

.iconimg img{
	height: 100px;
	width: 100px;
	margin: 0 auto;
	display: block;
}

.container{
	padding-top: 10px;
}

.container span h1{
	text-align: center;
	padding-bottom: 10px;
	color: #c69641;
}


.cover{
	background-color: rgba(0, 0, 0, .7);
	height: 400px;
}

.find i{
	font-size: 50px;
}

.header{
	text-align: center;
	color: #c69641;
}


.images{
	max-height: 400px !important;
	
}

footer{
	height: 50px;
	text-align: center;
	padding-top: 5px;
	background-color: #0D1321;
}

