{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trodini</title>

  <!-- Bootstrap -->

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.css">
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+DW+Pica|Nova+Script|Lobster+Two:400,700|Volkhov:400,700' rel='stylesheet' type='text/css'>

  <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="content">
    <div class="home">
      <div class="index">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">HOME</a></li>

              <li><a id="aboutservice">ABOUT US</a>  </li>
              <li><a id="featurescroll">FEATURES</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->

        </div>
      </nav>

      <div class="landing">
       <h1>Trodini</h1>
       <h3>Your magic route</h3>
       <span><img src="{% static 'images/downloadbtn-gplay.png' %}"></span>
     </div>
   </div>
 </div>

 <div class="about" id="aboutus">
   <div class="col-md-5"><span></span></div>
   <div class="col-md-7">
    <img src="{% static 'images/cassie_final.png' %}" class="images img-responsive">
  </div>

</div>

<div class="features" id="feature">
 <div class="cover">
  <div class="container">
    <span><h1>Features</h1></span>
    <div class="col-md-4">
      <div class="find">
        <i class="fa fa-location-arrow"></i>
      </div>
      <div class="header">
        <h4>Find Trotro</h4>
        <span>Visit new places without worry. Just input your start location and end location, to get the information where you will locate the right Trotro at the station you are directed to. </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="iconimg">
       <img src="{% static 'images/Road-Left-Curve-128.png' %}">
     </div>
     <div class="header">
       <h4>Possible Magic Route</h4>
       <span>There are many possible magic routes with Trodini, juts specify when your journey starts and ends, basing it on time(getting there as fast as you can) or price(whether your money will be enough for the journey).Find the magic route now.  </span>
     </div>
   </div>
   <div class="col-md-4">
    <div class="iconimg">
     <img src="{% static 'images/Calendar-Date-128.png' %}">
   </div>
   <div class="header">
     <h4>My Trod</h4>
     <span>Gather Trod points to enjoy custom routes and advice on your favourites route. Increase your point by flagging that there is traffic on a particular route at a particular time. If that will be hard, then just buy Trod points as low as 1.00 cedis for 100points </span>
   </div>
 </div>
</div>
</div>
</div>

</div>

<footer>
  Copyright &copy; 2015.
</footer>


<!-- jQuery Version 1.11.0 -->
<script src="{% static 'js/jquery-1.11.0.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mainjquery.js' %}"></script>

</body>
</html>
